#acerca-de-banner {
    background: url(../imagenes/acercadebanner.PNG);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.info-de-la-empresa {
    h2 {
        text-decoration: underline;
        text-decoration-color: $orange;
        text-underline-offset: 10px;
    }
}

/*  MEDIA QUERIES   */
@media (min-width: 481px) and (max-width: 1023px){
    .acercade-main .banner {
        background-position: center;
        background-size:100vw;
        background-attachment: local;
    }
}
@media (max-width: 480px) {
    .acercade-main .banner {
        background-position: center;
        background-size:100vw;
        background-attachment: local;
    }
    .acercade-main section .info-de-la-empresa h2 {
        font-size: 30px;
        text-underline-offset: 5px ;
    }
}