header {
    align-items: center;
    justify-content: space-between;
    #logo {
        width: 200px;
        margin: 0 20px 0 20px;
    }
    #current {
        background-color: #e2a359;
    }
    .nav-link {
        color: black;
    }
}