#index-banner {
    background: url(../imagenes/caminanteindexbanner.PNG);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*  section    */
#index-main section {
    .article-one {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 10vh 0vw 10vh 0vw;
    }
    .article-two {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin: 10vh 0vw 10vh 0vw;
    }
    article {
        img {
            width: 500px;
                height: 500px;
            box-shadow: -20px -20px $orange ;
            &:hover {
                transform: scale(1.3);
                transition: transform 0.5s;
            }
            
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            p {
                font-size: 2vw;
                font-weight: 400;
                margin: 20px;
            } 
            a {
                text-decoration: none;
                background-color: $orange;
                padding: 10px 50px 10px 50px;
                color: white;
                font-size: 30px;
                border-radius: 1rem;
                &:hover {
                    background-color: #606060;
                }    
            }
        }
    }
}

// media queries
@media (min-width: 481px) and (max-width: 1023px) {
    #index-main {
        #index-banner {
            background-position: right;
        }
        section article {
            margin: 0 0 0 0;
            img {
                width: 250px;
                    height: 250px;
                }
            div a {
                font-size: 15px;
                border-radius: 0%;
            }
        }
    }
}

@media (max-width: 480px) {
    #index-main {
        #index-banner {
            background-position: -550px +50px;
        }
        section {
            article {
                margin: 0 0 0 0;
                img {
                    width: 250px;
                    height: 250px;
                }
                div {
                    a {
                        font-size: 15px;
                        border-radius: 0%;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
            }
            .article-one {
                flex-direction: column;
            }
            .article-two {
                flex-direction: column;
            }
        }
    }
}