.terminos-main {
    margin: 10vh 20vw 10vh 20vw;
    section {
        h2 {
            font-size: 40px;
            text-decoration: underline;
            text-decoration-color: #e2a359;
            text-underline-offset: 10px;
            margin-bottom: 15px;
            text-align: center;
            margin: 10vh;
        }
        p {
            @include fonts (20px, 800);
        }
    }
}