* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}
/* VARIABLES */
$orange: #e2a359;

/* mixins */
@mixin fonts ($size, $weight){
    font-size: $size;
    font-weight: $weight;
}

/* import */

@import "header";
@import "footer";
@import "index";
@import "acercade";
@import "camper";
@import "fotos";
@import "preguntas";
@import "terms&conditions";
@import "contacto";

